.flipbook-3d-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flipbook-3d-container canvas {
  width: 100% !important;
  height: 100% !important;
  outline: none;
  display: block;
}

