.flipbook-3d-container {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  background-color: transparent;
  display: block;
  position: relative;
}

.flipbook-3d-container canvas {
  width: 100% !important;
  height: 100% !important;
  min-width: 100%;
  min-height: 100%;
  outline: none;
  display: block;
  touch-action: none;
}

