.app {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.beams-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.beams-container > div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

